h1 {
    text-align: center;
}
.link {
    border: 1px solid black;
    width: 100%;
}
.red a {
    color: red;
}
.blue a {
    color: aqua;
}
.yellow a {
    color: yellow;
}
.name-1 {
    width: 20%;
}
.name-2 {
     width: 20%;
}
.name-3 {
    width: 60%;
}
.flag {
    width: 250px;
    height: 38.7px;
}
.white-color {
    background-color: white;
}
.blue-color {
    background-color: blue;
}
.red-color {
    background-color: red;
}
.black-color {
    background-color: black;

}
.yellow-color {
    background-color: yellow;

}
.parent {
    float: left;
    width: 25%;
}
.child {
    float: left;
    width: 25%;
}
.child-2 {
    float: left;
    width: 25%;
}
.flag-2  {
    width: 250px;
    height: 120px;
}
.circle {
    border: 1px solid red;
    border-radius: 80% 80% 80% 80%;
    height: 90px;
    width: 100px;
    margin: auto;
    margin-top: 15px;
}
.child-3 {
    float: right;
    width: 25%;
}
.green-color {
    background-color: green;
}
.flag-3 {
    width: 83.3px;
    height: 120px;
    float: left;
}
.border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

