h1 {
    text-align: center;
}
.link {
    border: 1px solid black;
    width: 100%;
}
.red a {
    color: red;
}
.blue a {
    color: aqua;
}
.yellow a {
    color: yellow;
}
.name-1 {
    width: 20%;
}
.name-2 {
     width: 20%;
}
.name-3 {
    width: 60%;
}
.white-color {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    background-color: white;
}
.blue-color {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    background-color: blue;
}
.red-color {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    background-color: red;

}
.black-color {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    background-color: black;

}
.yellow-color {
    border: 1px solid black;
    width: 250px;
    height: 40px;
    background-color: yellow;

}

.parent div {
    float: left;
}


